* {
  margin:0;
}

body {
  background-color: red;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

.landing-title {
  background-color: grey;
  margin: 0;
}

.landing {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 1rem 2rem;
  margin-top: 40px;
  text-align: center;
  position: relative;
  opacity: 0;
  animation-name: delayed-appearance;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-duration: 1s;
}

@keyframes delayed-appearance {
  0% {opacity:0;}
  100% {opacity:1;}
}

a:hover {
  color: red;
  background-color: black;
}

.container {
  margin-bottom: 50px;
  text-align: center;
  padding: 40px 30px;
}

#landing-showcase {
  font-size: 30px;
  text-align: center;
  position: relative;
  animation-name: floatingdown;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes floatingdown {
  0% {opacity:0; top:-50px;}
  25% {opacity:0.25;}
  50% {opacity:0.5;}
  75% {opacity:0.75;}
  100% {opacity:1; top:0;}
}

#content {
  position: relative;
  animation-name: bottom-to-top;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes bottom-to-top {
  0% {bottom:-800px;}
  100% {bottom: 0;}
}

.menu-container {
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation-name: delayed-appearance;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-duration: 1s;
}

.menu {
  color: white;
  background-color: grey;
  padding: 10px;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0 50px 0 50px;
}

#pages-title {
  background-color: grey;
  position: relative;
  animation-name: left-to-right;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes left-to-right {
  0% {opacity:0; left:-350px;}
  100% {opacity:1; left:0;}
}

.column-layout {
  max-width: 800px;
  margin: 10px auto 0 auto;
  padding: 20px 50px;
  line-height: 1.65;
  display: flex;
  position: relative;
  animation-name: bottom-to-top;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.main-column {
  flex: 2;
  order: 2;
  padding-left: 40px;
  line-height: 2;
  text-align: left;
  padding-top: 10px;
}

.sidebar-content {
  flex: 1;
  order: 1;
  background-color: grey;
  padding-right: 20px;
}

#sidebar-picture {
  padding-left: 15px;
}

.special-offers {
  max-width: 800px;
  background-color: grey;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  position: relative;
  animation-name: delayed-appearance;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

.special-offer {
  flex: 1;
  order: 1;
  padding: 10px;
  box-sizing: border-box;
  width: 40%;
}

.learn-more {
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  margin-top: 5px;
}
